@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #external-links,
  #footer {
    width: 111%;
  }
  #contact{
    width: 111%;
    background-color: #14144c;
  }
  #portfolio {
    width: 110%;
  }
  #annoucments{
    max-width: 700px;
    padding: 100px;
}
  .portfolio-item{
    max-width: 700px;
}
.image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
}
